header {
  width: 100%;
  background-color:#31444D;
  height:70px;
  position: fixed; /* 固定 */
  top: 0; /* 一番上に表示 */

  }

#menubar {
  width: 50%;
  float:right;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

nav ul li {
  display: inline-block;
  width: 15%;
  background-color: #31444D;
  text-align: center;
  padding: 7px;
}

.noline{
    color:#FFFFFF;
    text-decoration: none;
}
  
#catchcopy {
     width:100%;
     height: 730px;
     margin: 0 auto;
     background-color: #597C8B
}

.center{
    text-align: center;
}

#wrapper {
    width:100%;
    font-family:Yu Gothic;
    text-align: center;
}

#main1 {
    float: left;
    width: 33%;
    background-image: url("https://dl.boxcloud.com/api/2.0/internal_files/292263411313/versions/307623940705/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!JwHNFYIjPG7ix3zf4TbVaDVmbHHY8zQmBm_TninvIgaCGIcBbadGgUinWBQuRF7UWLcDkszjYJtsJGyHXx-xs7vs3HIWVAv2pNrZ0JTxLEFjFnLfSIp2rjbJyTIELJ9oCS9bSk02bzUH5c0ESYrYaOI2OLs1wlTW55UF1aHlhEukI0pwNVg1HbmoIsUjy9pPf_yO6ikbAPzUkiHxvpu5EPp5t4VE9wje2ZU7VViwEqy2qR5UAVtMvtSPLe_WexBTo1vw4RkzdVOptcvPzmM5WmFYQ2DBD2-SMr_bb6hFqEmq_5EVJC2mmHiqwS_ySAVOxdCDxBZiLd5xNz0wgdIUa9Sji7tnSr8ulq5mBTo9oumdgrx9APwn46HxZoSa7WxEfDbX-HR8sTch0OpmM5c.&box_client_name=box-content-preview&box_client_version=1.42.0");
    height:400px;
    text-align: center;
    color:#EEEEEE;
}
    

#main2 {
    float:left;
    width: 34%;
    background-image:url("https://dl.boxcloud.com/api/2.0/internal_files/292262883108/versions/307623307524/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!HJ0TDkG3n0v1WcRVF4y2iIw8rycKpAqZaXXZooVEBnbnQpPe1s8UweRksEYED0P-bKdSECbdeBeuju-Cy-lMjZBDy0Oe6sttLsSbcgdA2aS90relgM9dLVVPEQNTgKNfmpk9JgrKOzMLQCqDw4eh1rODUuSE9rh2U52bxBr0awmo3VzzOH07izqCVdHW4CvnELe8DfJmuw_XYExJxFyXVeAJmeVdThY9PnJQkDF8v1UwyXcQQQooK-JzvfXMPW7RuvpL9nUUjvqnB-z-4X46xTR4cWdH1V_BBCqrwQDDL19lrkHJFdzYzyi1D1h9zpfgK05lSmYBR9RU6yq4Aerl61hHv12-cOEGcJzbJggOMpANN9gfNNCG4CUGd6ZqhGMHIo7TOFVMrcgd0ds750s.&box_client_name=box-content-preview&box_client_version=1.42.0");
    height:400px;
    vertical-align: middle;
    text-align: center;
    color:#EEEEEE;
}

#main3 {
    float: right;
    width: 33%;
    background-image: url("https://dl.boxcloud.com/api/2.0/internal_files/292267928353/versions/307628458609/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!6rPUv4cYAYf_5DT2bUJx0a4Xur7yDbU4INhsqUBQzEe9_dkuAXjzJegEGfhWHHF7UP5Q4JvHTyYuDDrEIvJq9Rbxk4PzxaB69DTu0IPKkq4SxDpEbyzKbohvpv6YiUZf0iqrCLSt69y1q3pOTcPz1E8QWvUoDAul3znMVYbJ7BtPhmD10TNiLRVtx3yKX6GeHfNz0p4Q9AyQhgc43ILBv6oJaKdWHpPIM-vEmzcDJ8xWiL0hfmGPRqwwk8a3OZzVufrB2k_4dJMvpeRiii_OZpbr_D45E7VJFztR-keEpuRtpiiEPXgzHLo-OlxvXwXEIOV2OnISX7EAZwnD3KOPMAbvI1-Q4juJwMg1QLB2JX2EmGrKMIawgi8bLIc_feEnhrkwzZ1UoDpoCO9gShY.&box_client_name=box-content-preview&box_client_version=1.42.0");
     height:400px;
     text-align: center;
     color:#EEEEEE;
     
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

footer {
      clear: both;
      width: 100%;
      background-color: #31444D;
      margin:0 auto;
      color: rgb(131, 131, 131);
}
#kochira1 {
    float: left;
    width: 33%;
    text-align: center;
}
#kochira2 {
    float: left;
    width: 34%;
    text-align: center;
}
#kochira3 {
    float: right;
    width: 33%;
    text-align: center;
}
#jyouhou1 {
    float: left;
    width:  25%;
    text-align: center;
}
#jyouhou2 {
    float: left;
    width: 25%;
    text-align: center;
}
#jyouhou3 {
    float: left;
    width: 25%;
    text-align: center;
}
#jyouhou4 {
    float: right;
    width: 25%;
    text-align: center;
}
#copyright {
    text-align: center;
    font-size: 80%;
}
a {color: #FFFFFF;
  text-decoration: none;
}
.share_btn2{
    display: inline-block;
    text-decoration: none;
    width: 50px;
	margin:2px;
    height: 50px;
    line-height: 50px;
    font-size: 23px;
	color:white;
    border-radius: 12px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    transition: .3s;
}
.share_btn2 .fa {line-height:50px}
.share_btn2:hover{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.share_btn2.shtw {background: #22b8ff;}
.share_btn2.shfb {background: #6680d8;}
.share_btn2.shhtb {background: #49a8fb;}
.share_btn2.shgp {background: #fd6969;}

